/__pycache__
/.vscode
/Chess
/ICPC/NCNA23
/ICPC/NAC2023 Problem Set.pdf
/ICPC/NCNA Regional Problem Set.docx
/Discrete Projects
/YTDL
/ctf.py 
/cheatsheet.png
ICPC/Plan.md
ICPC/Steven Halim, Felix Halim, Suhendry Effendy - Competitive Programming 4_ The Lower Bound of Programming Contests in the 2020s. 2-Lulu.com (2020).pdf
ICPC/Steven Halim, Felix Halim, Suhendry Effendy - Competitive Programming 4_ The Lower Bound of Programming Contests in the 2020s. 1-Lulu.com (2018).pdf
