/ytDownloader.py
/Chess
/__pycache__
/ctf.py
/cheatsheet.png
/divisibilityContradiction.py
/perfectSquareContradiction.py
/dloaded.txt
/writing.py
/playListHandling.py
/videoHandling.py
/musicDownloader.py
/magicSquareChecker.py
/magicSquareChecker.c
/a.exe
