/ytDownloader.py
/Chess
/__pycache__
/ctf.py
/cheatsheet.png
/divisibilityContradiction.py
/perfectSquareContradiction.py
/dloaded.txt
/writing.py
/playListHandling.py
/videoHandling.py
/musicDownloader.py
/magicSquareChecker.py
/magicSquareChecker.c
/a.exe
/perfectNumberFinder.py
/efficientPerfectNumberFinder.py
/Kattis/Learning.c
/triominoes.py
/test.c
ICPC/NCNA Regional Problem Set.docx
ICPC/NAC2023 Problem Set.pdf
